
        body {
            margin: 0;
            padding: 0;
            background-color: rgb(237, 231, 217);
        }
       

         header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position: fixed;
            bottom: 0px;
        }

         #textoAdda{
            width: 100px;
        }

        #adda{
            width: 30%;
            position: absolute;
            z-index: 1;
            bottom: 40px;
            right: 20%;
        }

        .tabela {
            position:relative ;
            width: 40%;
            height: 300px;
            border-collapse: collapse;
            text-align: center;
            background-color: white;
            border: 3px solid;
            border-color: rgb(0,05,53);
            border-radius: 10px;
            overflow: hidden;
            font-size: 20px;
            left: 150px;
            top: 90px;
            z-index: 3;
        }

        .tabela-scroll {
            max-height: 300px;
            overflow-y: auto;  
            border: 1px solid rgb(0, 5, 53);
            z-index: 4;
           
        }

         table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: rgb(0,05,53);
            color: white;
        }

        #graminha{
          width: 100%;
            position: absolute;
            bottom: 50px;
            z-index: 0;
        }


        #florzinhas{
            width: 45%;
            position: absolute;
            z-index: 1;
            bottom: 50px;
        }

        #florzinhasdois{
            width: 45%;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 50px;
        }

        #sol{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 50px;
        }