        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        #textoAdda{
            width: 100px;
        }
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position: fixed;
            bottom: 0px;
            z-index: 10;
        }
        #adda{
            position:absolute;
            bottom: 30px;
            z-index: 1;
        }
        #solzinho{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 50px;
        }
        #graminha{
            width: 100%;
            position: absolute;
            bottom: 50px;
        }
        #flores{
            width: 45%;
            position: absolute;
            z-index: 2;
            bottom: 50px;
        }
        #flores2{
            width: 45%;
            position: absolute;
            right: 20px;
            z-index: 2;
            bottom: 50px;
        }
        .tabela{
            position: relative;
            background-color: rgb(255, 255, 255);
            border: 5px solid rgb(0, 5, 53);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 40px;
            padding: 20px;
            top: 200px;
        }
        #cadastro, #turma{
            background-color: rgb(88, 206, 137);
            position: relative;
            color: white;
            height: 50px;
            font-size: 20px;
            border-radius: 50px;
            z-index: 5;
            padding: 10px;
        }
        #cadastro:hover{
            background-color: rgb(30, 107, 82);
        }
        #turma:hover{
            background-color: rgb(98, 48, 100);
        }
        #turma{
            background-color: rgb(192, 149, 233);
        }
        a{
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
        }
        @media only screen and (min-width:325px){
            #adda{
            width: 70%;
            left: 50px;
            }
            .tabela{
                left: 15px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:425px){
            #adda{
            width: 70%;
            left: 50px;
            }
            .tabela{
                left: 40px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:768px){
            #adda{
            width: 60%;
            left: 0px;
            }
            .tabela{
                left: 350px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:1024px){
            #adda{
            width: 60%;
            left: 0px;
            }
            .tabela{
                left: 500px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:1440px){
            #adda{
            width: 50%;
            left: 0px;
            }
            .tabela{
                left: 700px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:1920px){
            #adda{
            width: 40%;
            left: 0px;
            }
            .tabela{
                left: 1000px;
            }
            #flores{
                left: 20px
            }
        }
        @media only screen and (min-width:2560px){
            #adda{
            width: 40%;
            left: 0px;
            }
            .tabela{
                left: 1000px;
            }
            #flores{
                left: 20px
            }
        }