        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        #textoAdda{
            width: 100px;
        }
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position: fixed;
            bottom: 0px;
            z-index: 10;
        }
        #adda{
            position:absolute;
            bottom: 30px;
            z-index: 1;
        }
        #solzinho{
            width: 10%;
            position: absolute;
            right: 10px;
            top: 50px;
        }
        #graminha{
            width: 100%;
            position: absolute;
            bottom: 50px;
        }
        #flores{
            width: 50%;
            position: absolute;
            z-index: 2;
            bottom: 50px;
        }
        #flores2{
            width: 50%;
            position: absolute;
            right: 20px;
            z-index: 2;
            bottom: 50px;
        }
        .tabela {
            position: relative;
            background-color: rgb(255, 255, 255);
            border: 5px solid rgb(0, 5, 53);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            width: 300px;
            gap: 40px;
            padding: 20px;
        }
        #cadastrar {
            background-color: rgb(255, 154, 154);
            position: relative;
            color: white;
            width: 150px;
            height: 50px;
            font-size: 20px;
            border-radius: 50px;
            border: none;
            margin-top: 230px;
            margin-left: 70px;
            z-index: 5;
            text-decoration: none;
        }
        #Cadastrando{
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 250px;
            height: 30px;
            margin: 5px;
            padding: 5px;
            border: none; 
            font-size: 60px;
        }
        input{
            font-size: 20px;
            width: 250px;          
            padding: 10px;        
            border-radius: 20px;  
            border: 1px solid #ccc;
            font-size: 16px;
            z-index: 3;
        }
        @media only screen and (min-width:325px){
            #adda{
            width: 70%;
            right: 50px;
            }
            .tabela{
                left: 15px;
                top: 100px;
            }
        }
        @media only screen and (min-width:425px){
            #adda{
            width: 70%;
            right: 50px;
            }
            .tabela{
                left: 40px;
                top: 50px;
            }
        }
        @media only screen and (min-width:768px){
            #adda{
            width: 60%;
            right: 0px;
            }
            .tabela{
                left: 50px;
                top: 100px;
            }
        }
        @media only screen and (min-width:1024px){
            #adda{
            width: 60%;
            right: 0px;
            }
            .tabela{
                left: 100px;
            }
        }
        @media only screen and (min-width:1440px){
            #adda{
            width: 50%;
            right: 0px;
            }
            .tabela{
                left: 250px;
            }
        }
        @media only screen and (min-width:1920px){
            #adda{
            width: 40%;
            right: 0px;
            }
            .tabela{
                left: 500px;
            }
        }
        @media only screen and (min-width:2560px){
            #adda{
            width: 40%;
            right: 0px;
            }
            .tabela{
                left: 1000px;
            }
        }