 body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        #textoAdda{
            width: 100px;
        }
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position: sticky;
            bottom: 0px;
            margin-top: 194%;
        }
        #pranchetinha{
            position: absolute;
            width:10%;
            margin-top: 300px;
            right: 190px;
            z-index: 2;
         
        }
       
        .tabela {
            position: absolute;
            background-color: rgb(255, 255, 255);
            border: 5px solid rgb(0, 5, 53);
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            height: 200px;
            width: 300px;
            left: 650px;
            gap: 40px;
            padding: 20px;
            top: 100px;
        }
 
       #cadastro{
        display: flex;
            flex-direction: column;
            gap: 20px;
            width: 250px;
            height: 30px;
            margin: 5px;
            padding: 5px;
            border: none; 
            font-size: 60px;

       }
        input {
        font-size: 20px;
            width: 250px;          
            padding: 10px;        
            border-radius: 20px;   
            border: 1px solid #ccc;
            font-size: 16px;
       }
        input:focus{
        background-color: rgb(209, 209, 209);
       }
 
       #cadastrar{
       background-color: rgb(255, 154, 154);
            position: absolute;
            color: white;
            width: 150px;
            height: 50px;
            font-size: 20px;
            border-radius: 50px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
            margin-left: 70px;
            z-index: 1;
            text-decoration: none;
       }
       #graminha{
        width: 40px;
        top: 20px;
        position: absolute;
       }
       a{
        text-decoration: none;
       }

       #florzinhas{
        width: 40%;
        position: absolute;
        z-index: 1;
        bottom: 50px;
    } 

     #florzinhasdois{
        width: 40%;
        position: absolute;
        right: 10px;
        z-index: 1;
        bottom: 50px;}

         #adda{
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 25px;
        z-index: 1;
    }

        #solzinho{
        width: 15%;
        position: absolute;
        right: 20px;
        top: 50px;
    }

            @media only screen and (min-width:325px){
 
        #pranchetinha{
             width: 50%;
             margin-top: 540px;
             right: 90px;
        }
 
        .tabela{
            height: 360px;
            width: 60%;
            left: 13%;
            top: 170px;
            align-items: center;
        }
 
        #cadastro{
            left: 0;
            margin: 0;
            width: 90%;
            align-items: center;
            
        }
 
        #cadastro input{
           width: 90%;
        }
 
        #cadastrar{
            position: relative;
            top: 55%;
            right: 0;
            margin: 20px auto 0;
            }

        #graminha{
            width: 100%;
            margin-top: 179%;
            right: 0%;
        }   
        
        #florzinhas{
            width: 50%;
            top: 79%;
            left: 30px;
        }

        #florzinhasdois{
            width: 50%;
            top: 79%;
        }

         #adda{
            width: 20%;
            left: 1%;
            top: 5px;
            }

        #solzinho{
            width: 30%;
            right: 4%;
        }
}

        @media only screen and (min-width:425px){

            #pranchetinha{
                margin-top: 525px;
            }
            #graminha{
                margin-top: 157%;
            }

            footer{
            margin-top: 173%;
        }


        }

        @media only screen and (min-width:768px){
        
            #graminha{
                margin-top: 76%;
                
            }
            #florzinhas{
            width: 50%;
            top: 67%;
            left: 20px;
        }

        #florzinhasdois{
            width: 50%;
            top: 67%;
        }


            #pranchetinha{
                width: 35%;
                margin-top: 460px;
                left: 68%;
            }

            #solzinho{
                width: 20%;
            }

            #adda{
                width: 15%;
                top: 0px;
            }

            .tabela{
                top:160px;
                left: 5%;
            }

             footer{
            margin-top: 95%;

        
        }


        }

        @media only screen and (min-width:1024px){

            #graminha{
                margin-top: 53%;
            }

            #pranchetinha{
                margin-top: 410px;
                left: 70%;
            }

            #florzinhas{
                width: 40%;
                top: 67%;
            }

            #florzinhasdois{
                width: 40%;
                left: 43%;
                top: 67%;
            }

            footer{
            margin-top: 73%;
            }

            #adda{
                width: 10%;
            }
        }

         @media only screen and (min-width:1440px){

            footer{
            margin-top: 58%;
            }

            #graminha{
                margin-top: 37%;
            }

            #florzinhas{
                width: 40%;
                top: 60%;
            }

            #florzinhasdois{
                width: 40%;
                left: 43%;
                top: 60%;
            }

            #pranchetinha{
                margin-top: 340px;
            }

            #solzinho{
                width: 15%;
            }

            #adda{
                width: 7%;
            }
        }

        @media only screen and (min-width:2560px){

           footer{
            margin-top: 62%;
            }

            #graminha{
            margin-top: 40%;
            }

            #adda{
                width: 4%;
            }

            #pranchetinha{
                margin-top: 580px;
                width: 40%;
                left: 66%;
            }

            .tabela{
            height: 700px;
            width: 50%;
            left: 13%;
            top: 200px;
            align-items: center;
            border: 10px solid rgb(0, 5, 53);
            border-radius: 30px;
        }
 
        #cadastro{
            left: 0;
            margin: 0;
            width:900px;
            height: 500px;
            align-items: center;
            padding: 20px;
            gap: 40px;
            padding: 5px;
           
            
        }
 
        #cadastro input{
           width: 90%;
           height: 400%;
           font-size: 40px;
           
        }
 
        #cadastrar{
            position: relative;
            width: 25%;
            height: 12%;
            top: 0%;
            font-size: 40px;
            }


        }
    