body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        
        /* menu */
        #textoAdda{
            width: 100px;
        }
        .menuPc{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px;
        }
        .menu{
            display: flex;
            padding: 15px;
            font-size: 50px;
            gap:100px;
            align-items: center;
            margin: auto;
        }
        .menu a{
            font-size: 20px;
        }
        .topinho{
            padding: 0.5rem 0.1rem;
        }
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            flex-direction: row;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: 0;
            z-index: 10;
        }
        footer{
            position: fixed;
            bottom: 0px;
            z-index: 10;
        }
        a{
            text-decoration: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s;
            color: rgb(255, 255, 255);
        }
        /*menu celular*/
        .menuIcone{
            display:none;
        }
        .menuCelular{
            display: none;
        }
        @media screen and (max-width: 730px){
            header{
                position: relative;
            }
            .menuPc{
                padding: 1.5rem 1rem;
            }
            .menu{
                display: none;
            }
            .login{
                display: none;
            }
            .menuIcone{
                display: block;
            }
            .menuIcone img{
                width: 40px;
                transition: transform 0.3s ease, width 0.3s ease;
            }
            .menuIcone button{
                background-color: transparent;
                border: none;
                width: 50%;
                cursor: pointer;
            }
            #textoAddaMobile{
                width: 100px;
                margin: 0 auto 1rem auto;
            }
            .menuCelular{
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1.5rem 0;
                background-color: rgb(0, 5, 53);
            }
            .menuCelular .menuCell{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }
            .menuCelular a{
                text-decoration: none;
                height: 40px;
            }
            .menuCell a:hover{
                background-color: rgb(45, 9, 77);
                width: 120%;
                height: 40px;
                border-radius: 8px;
                transition: 0.5s;
            }
            .menuCelular .login{
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 1.5rem;
            }
            .menuCelular .login button{
                width: 80%;
                max-width: 300px;
                margin: 0;
                justify-content: center;
            }
            .open{
                display: flex;
            }
            .open img{
                transform: rotate(90deg);
                width: 30px;
            }
        }

         
        /*tabela*/
        .tabela {
            position:relative;
            width: 40%;
            border-collapse: collapse;
            text-align: center;
            background-color: white;
            border: 3px solid;
            border-color: rgb(0,05,53);
            border-radius: 10px;
            font-size: 20px;
        }

        .tabela-scroll {
            max-height: 200px;
            overflow-y: auto;  
            border: 1px solid rgb(0, 5, 53);
            z-index: 4;
           
        }

         table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: rgb(0,05,53);
            color: white;
        }


        /*elementos ilustrados*/
        #adda{
            position: absolute;
            z-index: 1;
            bottom: 30px;
        }
        #graminha{
            width: 100%;
            position: absolute;
            bottom: 45px;
            z-index: 0;
        }


        #florzinha{
            width: 40%;
            position: absolute;
            z-index: 1;
            bottom: 50px;
        }

        #florzinhadois{
            width: 40%;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 50px;
        }

        #sol{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 70px;
        }

        
         
        @media only screen and (min-width: 325px){
            .tabela{
                width: 90%;
                top: 150px;
                left: 100px;
                height: 270px;
            }
            .tabela-scroll{
                max-height: 270px;
            }
            #adda{
            width: 50%;
            left: 20%;
            }
        }

        @media only screen and (min-width: 768px){
            .tabela{
                width: 80%;
                top: 150px;
                left: 100px;
                height: 200px;
            }
            .tabela-scroll{
                max-height: 200px;
            }
            #adda{
            width: 40%;
            left: 25%;
            }
        }

        @media only screen and (min-width: 1024px){
            .tabela{
                width: 65%;
                top: 150px;
                font-size: 25px;
                left: 50px;
            }
            #adda{
                width: 20%;
                right: 0px;
            }
        }