body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position:fixed;
            bottom: 0px;
            margin-top: 194%;
        }

          #textoAdda{
            width: 100px;
        }

         #adda{
            width: 30%;
            position: absolute;
            z-index: 1;
            bottom: 40px;
            right: 20%;
        }

        .tabela {
            position:relative ;
            width: 40%;
            height: 300px;
            border-collapse: collapse;
            text-align: center;
            background-color: white;
            border: 3px solid;
            border-color: rgb(0,05,53);
            border-radius: 10px;
            font-size: 20px;
            left: 150px;
            top: 90px;
            
        }

        .tabela-scroll {
            max-height: 300px;
            overflow-y: auto;  
            border: 1px solid rgb(0, 5, 53);
            z-index: 4;
           
        }

         table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: rgb(0,05,53);
            color: white;
        }

        #graminha{
            width: 100%;
            position: absolute;
            bottom: 50px;
            z-index: 0;
        }


        #florzinha{
            width: 40%;
            position: absolute;
            z-index: 1;
            bottom: 50px;
            top: 290px;
        }

        #florzinhadois{
            width: 40%;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 50px;
            top: 290px;
        }

        #sol{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 50px;
        }

         
        @media only screen and (min-width: 375px){
            #florzinha{
                top: 710px;
            }

            #florzinhadois{
                top: 710px;
            }

            .tabela{
                width: 92%;
                left: 15px;
                height: 300px;
                top: 150px;
            }

            .tabela-scroll{
                max-height:300px ;
            }

            #sol{
                width: 30%;
            }

            #adda{
                width: 60%;
            }
        }

           

        @media only screen and (min-width: 480px){
            .tabela{
                top: 250px;
                font-size: 25px;
                height: 380px;
            }

            .tabela-scroll{
                max-height: 380px;
            }

            #florzinha{
                top: 880px;
            }

            #florzinhadois{
                top: 880px;
            }
        }

        @media only screen and (min-width: 768px){
            #florzinha{
                top: 78%;
                width: 47%;
            }

            #florzinhadois{
                top: 78%;
                width: 47%;
            }

            .tabela{
                font-size: 30px;
                height: 310px;
            }

            .tabela-scroll{
                max-height: 310px;
            }
        }

        @media only screen and (min-width: 1024px){

            #florzinha{
                top: 450px;
            }

            #florzinhadois{
                top: 450px;
            }

            #adda{
                width: 30%;
                right: 5%;
            }

            .tabela{
                width: 65%;
                top: 110px;
                font-size: 25px;
                height: 280px;
            }

            .tabela-scroll{
                max-height: 280px;
            }

            #sol{
                width: 20%;
            }
        }