body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position:fixed;
            bottom: 0px;
            margin-top: 194%;
            
        }

          #textoAdda{
            width: 100px;
        }

         
        /*tabela*/
        .tabela {
            position:relative;
            width: 40%;
            border-collapse: collapse;
            text-align: center;
            background-color: white;
            border: 3px solid;
            border-color: rgb(0,05,53);
            border-radius: 10px;
            font-size: 20px;
        }

        .tabela-scroll {
            max-height: 200px;
            overflow-y: auto;  
            border: 1px solid rgb(0, 5, 53);
            z-index: 4;
           
        }

         table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #000000;
            padding: 8px;
            text-align: center;
            cursor: pointer;
        }

        th {
            background-color: rgb(0,05,53);
            color: white;
        }


        /*elementos ilustrados*/
        #adda{
            position: absolute;
            z-index: 1;
            bottom: 30px;
        }
        #graminha{
            width: 100%;
            position: absolute;
            bottom: 45px;
            z-index: 0;
        }


        #florzinha{
            width: 40%;
            position: absolute;
            z-index: 1;
            bottom: 50px;
        }

        #florzinhadois{
            width: 40%;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 50px;
        }

        #sol{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 50px;
        }

        
         
        @media only screen and (min-width: 325px){
            .tabela{
                width: 90%;
                top: 150px;
                left: 100px;
                height: 270px;
            }
            .tabela-scroll{
                max-height: 270px;
            }
            #adda{
            width: 50%;
            left: 20%;
            }
        }

        @media only screen and (min-width: 768px){
            .tabela{
                width: 80%;
                top: 150px;
                left: 100px;
                height: 200px;
            }
            .tabela-scroll{
                max-height: 200px;
            }
            #adda{
            width: 40%;
            left: 25%;
            }
        }

        @media only screen and (min-width: 1024px){
            .tabela{
                width: 65%;
                top: 150px;
                font-size: 25px;
                left: 50px;
            }
            #adda{
                width: 50%;
                right: 0px;
            }
        }