body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(237, 231, 217);
        }
        
        header, footer {
            background-color: rgb(0, 5, 53);
            height: 50px;
            width: 100%;
        }
        header{
            position: sticky;
            z-index: 10;
            top: 0px;
        }
        footer{
            position:fixed;
            bottom: 0px;
            margin-top: 194%;
        }

        #graminha{
            width: 100%;
            position: absolute;
            bottom: 50px;
            z-index: 0;
        }


        #florzinhas{
            width: 45%;
            position: absolute;
            z-index: 1;
            bottom: 50px;
        }

        #florzinhasdois{
            width: 45%;
            position: absolute;
            right: 20px;
            z-index: 1;
            bottom: 50px;
        }

        #sol{
            width: 15%;
            position: absolute;
            right: 10px;
            top: 50px;
        }